@import "../Abstracts/variables";
@import "../Abstracts/placeholders";
@import "../Abstracts/responsive-rules";
@import "../Abstracts/mixins";
@import "../Base/base";
@import "../Base/reset";
@import "../Base/typography";
@import "../Base/utilities";
@import "../Components/forms";
@import "../Components/Post";
@import "../Layout/navbar";
@import "../Layout/footer";
body {
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.categories {
  @include flex(center,stretch);
  column-gap: 1.5rem;
  list-style: none;
  padding: 1.5rem 2rem;
  &>li {
    border-radius: 15px;
    box-shadow:0 0 15px $gray_color_1;
    padding: 1rem 2rem;
    flex-grow: 1;
    text-align: center;
    a {
      color:$gray_color;
    }
  }
}
.main {
  padding: 2rem;
  overflow-y: hidden;
  overflow-x: auto;
  border-radius: 15px;
  margin: 1.5rem 2rem 3.5rem;
  box-shadow:0 0 15px $gray_color_1;
  align-items: stretch;
  display: flex;
  grid-gap: 0 2rem;
  &::-webkit-scrollbar {
    display: none;
  }
}
