@import "../Abstracts/variables";
@import "../Abstracts/placeholders";
@import "../Abstracts/responsive-rules";
@import "../Abstracts/mixins";
@import "../Components/btns";
@import "../Base/base";
@import "../Base/utilities";
@import "../Base/reset";
@import "../Components/forms";
body {
    display: flex;
    width: 100vw;
    height: 100vh;
}
