
.input_search {
    position: relative;
    flex-basis: 40%;
    flex-shrink: 0;
    text-align: center;
    @include respond(phone) {
        order: 3;
        margin: 10px auto;
        flex-basis: 80% !important;
    }
    @include respond(port-tab) {
        flex: 0 0 50%;
    }

    &__input {
        font-family: inherit;
        font-size: inherit;
        outline: none;
        border: none;
        padding: 0.85rem 2rem;
        background-color: $gray_color_1;
        border-radius: 2rem;
        width: 90%;
        color: $gray_color;
        transition: all 0.35s;

        &::-webkit-input-placeholder {
            color: $gray_color;
        }

        &:focus {
            width: 100%;
            background-color: lighten($gray_color, 35%);

            & ~ .input_search__icon {
                right: 10px;
            }
        }
    }

    &__icon {
        position: absolute;
        right: 50px;
        top: 2px;
        transition: .25s linear;
    }
}

.main-content {
    padding: 1.5rem 2.5rem;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 15px $gray_color_1;
}

.form-box {
    margin: 1.5rem 0;
    @include flex(start, start, column);
    row-gap: 1.5rem;
    .group-form {
        width: 100%;
        @include flex(start, start, column);
        row-gap: 5px;

        & > input {
            font-family: inherit;
            font-size: inherit;
            outline: none;
            border: none;
            padding: 0.85rem 2rem;
            background-color: $gray_color_1;
            border-radius: 2rem;
            width: 100%;
            color:black;
            transition: all .25s linear;

            &:focus {
                background-color: lighten($gray_color, 35%);
            }
        }
    }
}

.links {
    @include flex(center, space-between);

    a {
        font-size: 1.5rem;
        color: #13b5ea;
        text-decoration: none;
    }
}
