.container-user-question {
  margin: 5rem;
  display: flex;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  justify-content: center;
  align-items: center;
}
.container-user-question > div {
  width: 30vw;
  padding: 1.5rem 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 1.5rem #959ca0;
}
.container-user-question .questions-box {
  max-height: 50vh;
  overflow-y: auto;
}

.user-box {
  display: flex;
  flex-direction: column;
}
.user-box .main-info {
  display: inline-block;
  text-align: center;
  border-radius: 1.5rem;
  box-shadow: 0 0 5px #959ca0;
  padding: 1.5rem 2.5rem;
  margin: 0 auto 2.5rem;
}
.user-box .main-info .username {
  font-weight: bold;
  font-size: 2.8rem;
}
.user-box img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post {
  width: 100%;
  padding: 2.5rem 3.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 1.5rem #959ca0;
  max-height: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.post:not(:last-child) {
  margin-bottom: 2.5rem;
}
.post .images img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
